
html{

    scroll-behavior: smooth;
}

body {

    /* defining font */
    background-color: #dadada;
    font-family: Raleway , sans-serif;
}


header {
    text-align: center;
    font-size: 40px;
}

nav {

    text-align: center;
    font-size:30px;
}

.navLink{

    /* applies to the nav links */
    text-decoration: none;
    text-align: center;
    color: black;

    margin-inline: 10px;
    padding: 10px;

    border-radius: 10px;

}   .navLink:hover{

    background-color: rgba(255, 255, 255, 0.3);

}
section {

    justify-content: center;
    margin-top: 50px;

}

footer{
    width: 100%;
    place-items: center;
}

h1 {

    margin-top: 20px;

    /* gradient text color */
    background: linear-gradient(to right, #1824CF 20%, #9B44E7 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {

    box-shadow: 0 10px 20px #c0b4ab;

    width: 100%;
    height: 100%;

    border-radius: 20px;
}
.gitPicture {

    margin-top: 100px;
    width: 75%;
}