
body {

    /* defining font */
    font-family: Raleway , sans-serif;
}


header {

    text-align: center;
    font-size: 40px;

}

nav {

    text-align: center;
    font-size:30px;

}

.navLink{

    /* applies to the nav links */
    text-decoration: none;
    color: black;
}


h1 {

    margin : 0;

}